<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CICE - Parcel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <span class="header__logo"><i class="material-icons">school</i></span>

      <div class="header__search">
        <i class="material-icons header__search__icon">search</i>
        <input
          type="text"
          placeholder="Buscar en todas las categorías"
          class="header__search__browse"
        />
      </div>

      <a href="#messages"> <i class="material-icons">message</i>Mensajes</a>

      <button class="button button__secondary">Regístrate o inicia sesión</button>
      <button class="button button__primary">
        <i class="material-icons">add</i>Subir producto
      </button>
    </header>
    <main>
      <section class="wrapper categories">
        <p>wallapop, la plataforma líder de compraventa de productos de Segunda mano</p>
        <h1>¿Qué estás buscando hoy?</h1>

        <div id="categories" class="categories__list">
          <button id="first-slide">
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </button>
          <ul class="categories__list__items">
            <li>
              <i class="material-icons">attach_file</i>
              <a href="">Todas las categorías</a>
            </li>
            <li>
              <i class="material-icons">sports_motorsports</i>
              <a href="">Motos</a>
            </li>
            <li>
              <i class="material-icons">directions_car</i>
              <a href="">Coches</a>
            </li>
            <li>
              <i class="material-icons">settings</i>
              <a href="">Motor y accesorios</a>
            </li>
            <li>
              <i class="material-icons">local_mall</i>
              <a href="">Moda y accesorios</a>
            </li>
            <li>
              <i class="material-icons">house</i>
              <a href="">Inmobiliaria</a>
            </li>
            <li>
              <i class="material-icons">tv</i>
              <a href="">TV, Audio y Foto</a>
            </li>
            <li>
              <i class="material-icons">tv</i>
              <a href="">TV, Audio y Foto</a>
            </li>
            <li>
              <i class="material-icons">tv</i>
              <a href="">TV, Audio y Foto</a>
            </li>
            <li>
              <i class="material-icons">tv</i>
              <a href="">TV, Audio y Foto</a>
            </li>
            <li>
              <i class="material-icons">tv</i>
              <a href="">TV, Audio y Foto</a>
            </li>
            <li>
              <i class="material-icons">tv</i>
              <a href="">TV, Audio y Foto</a>
            </li>
          </ul>
          <button id="last-slide"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
      </section>
      <section class="trending">
        <h1>¿Te has propuesto estar a la última?</h1>
        <p>Más de 300.000 anuncios para ti</p>
        <div class="wrapper trending__list">
          <div class="trending__grid__first">
            <div class="trending__grid__first__item">
              <img
                src="https://cdn-web-home-images.wallapop.com/home-images-prod/image_220_section_249_49c9da03-fd01-4502-92fb-f173a3e6e37f.png?cacheBuster=1G2y2dn5qI8t72L+kGtU/w=="
                alt="Nintendo"
              />
              <h1>Nintendo Switch</h1>
              <p>17.505 anuncios</p>
            </div>
          </div>
          <div class="trending__grid__first">
            <div class="trending__grid__first__item">
              <img
                src="https://cdn-web-home-images.wallapop.com/home-images-prod/image_219_section_248_74b16804-2704-4ec0-9c43-d217b8ffe21a.png?cacheBuster=nwyywrwOCfDs7P4VN6inpA=="
                alt="Xbox"
              />
              <h1>Xbox</h1>
              <p>12.505 anuncios</p>
            </div>
          </div>
          <div class="trending__grid__first">
            <div class="trending__grid__first__item">
              <img
                src="https://cdn-web-home-images.wallapop.com/home-images-prod/image_218_section_247_1743e119-dc1e-45e8-b468-faf4622be2ea.png?cacheBuster=tHd5ROWdnYShtKllYarUtw=="
                alt="Nintendo"
              />
              <h1>PS4</h1>
              <p>172.230 anuncios</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="./index.js"></script>
  </body>
</html>
