:root {
  --xs: 0.25rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 2rem;
  --xl: 4rem;
  --xxl: 8rem;

  --body-size: 16px;
  --title-size: 22px;
  --title-front-size: 34px;

  --body-font: Helvetica;
  --title-font: Helvetica;

  --primary-color: #20c1ac;
  --on-primary-color: white;

  --secondary-color: #eceff1;
  --on-secondary-color: #253238;

  --third-color: #90a4ae;
  --on-third-color: white;

  --surface-color: white;
  --on-surface-color: #253238;

  --content-width: 60rem;

  --image-size-regular: 340px;
  --image-size-small: 100px;

  --button-size-regular: 50px;
}
