.wrapper {
  display: flex;
  flex-direction: row;
}

.column-main-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-row-up {
  flex: 1;
}

.left-row-down {
  flex: 1;
}

.column-main-right {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.right-row-up {
  flex: 1;
}

.right-row-down {
  flex: 8;
}
